<div class="centered-logo">
    Aric_
</div>
<div class="centered">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput
                type="text"
                id="username"
                formControlName="username"
                required
            >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput
                type="text"
                id="name"
                formControlName="name"
                required
            >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput
                type="email"
                id="email"
                formControlName="email"
                required
            >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput
                [type]="hidePassword? 'password' : 'text'"
                id="password"
                formControlName="password"
                required
            >
            <button
                mat-icon-button 
                matSuffix 
                (click)="hidePassword = !hidePassword" 
                [attr.aria-label]="'Hide password'" 
                [attr.aria-pressed]="hidePassword"
                type="button"
            >
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput
                [type]="hideConfirmPassword? 'password' : 'text'"
                id="confirmPassword"
                formControlName="confirmPassword"
                required
            >
            <button
                mat-icon-button 
                matSuffix 
                (click)="hideConfirmPassword = !hideConfirmPassword" 
                [attr.aria-label]="'Hide password'" 
                [attr.aria-pressed]="hideConfirmPassword"
                type="button"
            >
                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div class="centered">
            <button 
                *ngIf="!(logging$ | async)"
                mat-flat-button 
                color="primary" 
                type="submit"
                [disabled]="!signupForm.valid"
            >Sign Up</button>

            <mat-spinner 
                style="width: 35px; height: 35px;"
                *ngIf="(logging$ | async)"
            ></mat-spinner>
        </div>
        <div class="text">
            <a routerLink="/signin">Already a member? Sign in.</a>
        </div>
    </form>
</div>    
<div class="error-text">
    <mat-error *ngIf="formHasError('username', 'required')">
        Username is required.
    </mat-error>
    <mat-error *ngIf="formHasError('name', 'required')">
        Name is required.
    </mat-error>
    <mat-error *ngIf="formHasError('email', 'required')">
        Email is required.
    </mat-error>
    <mat-error *ngIf="formHasError('email', 'email') && !formHasError('email', 'required')">
        Email is not valid.
    </mat-error>
    <mat-error *ngIf="formHasError('password', 'required')">
        Password is required.
    </mat-error>
    <mat-error *ngIf="formHasError('password', 'lowercase') && !formHasError('password', 'required')">
        Password must have at least 1 lowercase letter.
    </mat-error>
    <mat-error *ngIf="formHasError('password', 'uppercase') && !formHasError('password', 'required')">
        Password must have at least 1 uppercase letter.
    </mat-error>
    <mat-error *ngIf="formHasError('password', 'number') && !formHasError('password', 'required')">
        Password must have at least 1 number.
    </mat-error>
    <mat-error *ngIf="formHasError('password', 'specialCharacter') && !formHasError('password', 'required')">
        Password must have at least 1 special character.
    </mat-error>
    <mat-error *ngIf="formHasError('confirmPassword', 'passwordsMustMatch')">
        Passwords must match.
    </mat-error>
</div>