<div class="main-grid">
    <div>
        <!-- Menu here -->
    </div>
    <div class="profile-header">
        <img class="profile-image"
            src="../../assets/image-placeholder.png" 
            alt="profile image"
        >
        <div>
            <h3>Loren Ipsum</h3>
            {{'@'}}<i>lrn_ipsum</i>
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed libero 
                vel enim congue porta commodo eu augue. Proin malesuada libero eget tincidunt 
                pharetra. Integer sed dui sed erat placerat sodales vel ut lorem.
            </p>
        </div>
        <div>
            <button 
                mat-flat-button 
                color="primary"
                (click)="onLogout()"
            >
                Logout
            </button>
        </div>
    </div>
</div>
